<div id='posts-index'>
  <% if @posts.exists? %>
    <%# @posts.each_slice(2) do |post| %>
    <% @posts.in_groups_of(2, false) do |post_array| %>
      <div class='row'>
      <% for p in post_array %>
        <div class='col-md-6'>
          <div class='post'>
          <%= image_tag p.image.url, width:'100%', height:'200px' %>
            <div class='post-content'>
            <h3><%= p.title.truncate(30) %></h3>
              <small>Posted by <%= @users.find(p.user_id).name %> on <%= p.created_at.to_time %></small>
              <%= raw p.body.truncate(300) %>              
              <%= link_to 'Read more', post_path(p), class:'button btm-primary'%>
            </div><!-- post-content -->
          </div><!-- post -->

        </div><!-- col-md-6 -->
      <% end %><!-- ./each posts -->  
      </div><!-- row -->
    <% end %><!-- ./in groups of 2 -->

  <% else %>
  <p>No post yet</p>
  <% end %><!-- ./posts.exists -->
</div><!-- ./posts-index -->


